digital-twin-app/node_modules
digital-twin-app/dist
digital-twin-backend/node_modules
digital-twin-backend/dist
digital-twin-backend/venv
*.pyc
.env
/__pycache__/
venv/
~$Project Submission Deck _ AMD Slingshot.pptx
